@import './variables.scss';

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-align-center {
  display: flex;
  align-items: center;
}

.overflow-hidden {
  overflow: hidden !important;
}